
@{
    ViewBag.Title = "TestJsonDate";
}

<h2>TestJsonDate</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $.ajax({
        url: '',
        dataType: 'json',
        type: 'post',
        success: function (res) {
            console.log(res);
        }
    });
</script>


